body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
    background-image: url("fondo.jpg");
    background-size: cover;
}

h1 {
    margin-bottom: 20px;
}
#busqueda-container {
    color:white;
    margin-left: 350px;
    margin-right: 350px;
    background-color: blueviolet;
    border-radius: 20px;
}
input {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #0056b3;
}

#info {
    color:white;
    margin-left: 350px;
    margin-right: 350px;
    background-color: blueviolet;
    border-radius: 20px;
}

img {
    width: 250px;
    margin-top: 10px;
}